name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: "build ${{ matrix.name-prefix }} (py ${{ matrix.python-version }} on ${{ matrix.os }})"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name-prefix: "all tests"
            python-version: '3.12'
            os: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}

    - name: Install dependencies
      run: sudo apt-get install -y hmmer

    - name: Install Python dependencies
      run: uv sync --frozen --all-groups

    - name: Build data
      run: uv run build_data

    - name: Run CPU-only tests
      run: uv run python run_alphafold_data_test.py
